<ol class="breadcrumb">
  <li><a class="active" uku-onclick="mgr.back2ListView()">Back</a></li>
</ol>
<div class="panel panel-default" style="margin: 10px">
	<div class="panel-heading">
		<label>{{mgr.editTesting.name}}</label>
		<button type="button" class="btn btn-success" style="float: right" uku-onclick="mgr.beforOpenCreateQuestionPanel()">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
	</div>
	<div class="panel-body">
		<table class="table table-bordered table-hover table-condensed">
			<tbody>
				<tr uku-repeat="question in mgr.editTesting.questions">
					<td>{{question.name}}</td>
					<td>
						<button class="btn btn-success">
							<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
						</button>
						<button class="btn btn-info" uku-onclick="parent.mgr.beforeOpenEditQuestionPanel(question)">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>
						<button class="btn btn-danger" uku-onclick="parent.mgr.removeQuestion(question)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
			<!-- <form >
				<div class="form-group">
					<label for="questionNameInput">Question Name</label>
					<input type="text" class="form-control" id="questionNameInput" uku-value="question.name">
				</div>
				<div class="form-group">
					<label for="questionDescInput">Description</label>
					<textarea id="questionDescInput" class="form-control" rows="3" uku-value="question.desctription"></textarea>
				</div>
				<div class="form-group">
					<label for="isMultipleInput">Multiple Choose</label>
					<input type="checkbox" uku-vlaue="question.isMultiple">
				</div>
			</form>
			<div class="alert alert-success" uku-repeat="option in question.options">
				<form>
					<div class="form-group">
						<label for="optionNameInput">Option Name</label>
						<input type="text" class="form-control" id="optionNameInput" uku-value="option.name">
					</div>
					<div >
						<label for="optionScoreInput">Score</label>
						<input type="number" class="form-control" id="optionScoreInput" uku-value="option.score">
					</div>

				</form>
			</div> -->
		</div>
	</div>
</div>
<!--Create Modal -->
<div class="modal fade" id="createQuestionModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="createModalLabel">Create Question</h4>
			</div>
			<div class="modal-body">
				<form >
				<div class="form-group">
					<label for="questionDescInput">Question Name</label>
					<textarea id="questionDescInput" class="form-control" rows="3" uku-value="mgr.newQuestion.name"></textarea>
				</div>
				<div class="form-group">
					<label for="isMultipleInput">Multiple Choice</label>
					<input type="checkbox" uku-value="mgr.newQuestion.isMultiple">
				</div>
			</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" uku-onclick="mgr.createQuestion()">
					Create
				</button>
			</div>
		</div>
	</div>
</div>