<div class="panel panel-default" style="margin: 10px">
	<div class="panel-heading">
		<label>{{mgr2.optionsPanelTitle()}}</label>
		<button type="button" class="btn btn-success" style="float: right" uku-onclick="mgr2.addOptionItem()">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
	</div>
	<div class="panel-body">
		<ol>
			<li uku-repeat="option in mgr2.editQuestion.options">
				<div class="uku-include" src="components/renderer/optionItemRenderer.html"></div>
			</li>
		</ol>
		<ol>
			<li uku-repeat="option in mgr2.addOptions">
				<div class="uku-include" src="components/renderer/optionItemEditor.html"></div>
			</li>
		</ol>
    </div>
</div>