<div class="panel panel-default" style="margin: 10px">
	<div class="panel-heading">
		<label>{{mgr2.optionsPanelTitle()}}</label>	
		<button id="editModeBtn" class="btn btn-success" style="float: right;margin-right: 8px" uku-disabled="mgr2.isAllowEditOption()" uku-onclick="mgr2.editOptions()">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
		</button>
		
		<button id="addOptionBtn" type="button" class="btn btn-success" style="float: right;margin-right: 8px;display: none" 
		uku-onclick="mgr2.addOptionItem()">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
		<button id="updateOptionsBtn" class="btn btn-success" style="float: right;margin-right: 8px;display: none" uku-onclick="mgr2.updateOption()">
			<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
		</button>
	</div>
	<div class="panel-body">
		<!-- <ul>
			<li uku-repeat="option in mgr2.editQuestion.options">
				<div class="uku-include" src="components/renderer/optionItemRenderer.html"></div>
			</li>
		</ul> -->
		<ul>
			<li uku-repeat="option in mgr2.addOptions">
				<div class="uku-include" src="components/renderer/optionItemEditor.html"></div>
			</li>
		</ul>
    </div>
</div>